
@{
    Layout = null;
}
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=9">
<style type="text/css">
custom.css</style>
</head>
<body>
<div class="slide" name="slide" id="slideslide1"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" pointer-events="none" viewBox="0 0 720 405" version="1.1">
  <defs>
    <linearGradient id="lg_4f0b00_LL6c1300_996056_90_0_32a000" x1="0" y1="0" x2="0" y2="405" spreadMethod="reflect" gradientUnits="userSpaceOnUse">
      <stop offset="0" stop-color="#4f0b00" />
      <stop offset="0.60001" stop-color="#6c1300" />
      <stop offset="1" stop-color="#996056" />
    </linearGradient>
    <linearGradient id="lg_19e7dec9_P00ae7dec9_03e7dec9_118_c2_56c149" x1="-492" y1="928" x2="-817" y2="1540" spreadMethod="reflect" gradientUnits="userSpaceOnUse">
      <stop offset="0" stop-color="#e7dec9" stop-opacity="0.1" />
      <stop offset="0.69499" stop-color="#e7dec9" stop-opacity="0.04" />
      <stop offset="1" stop-color="#e7dec9" stop-opacity="0.01" />
    </linearGradient>
    <linearGradient id="lg_87aded_EE2e7ede_18477f_79_b0_f2a70" x1="31" y1="163" x2="54" y2="282" spreadMethod="reflect" gradientUnits="userSpaceOnUse">
      <stop offset="0" stop-color="#87aded" />
      <stop offset="0.399999976" stop-color="#2e7ede" />
      <stop offset="1" stop-color="#18477f" />
    </linearGradient>
  </defs>
  <g text-rendering="geometricPrecision" pointer-events="painted" transform="scale(1,1)">
<rect x="0" y="0" width="720" height="405" fill="url(#lg_4f0b00_LL6c1300_996056_90_0_32a000)" />
<path fill="url(#lg_19e7dec9_P00ae7dec9_03e7dec9_118_c2_56c149)" d="M0.5 404.6L0.5 0.9 719.5 404.6z" />
<path stroke-linecap="round" stroke-width="0.393700778" stroke="#beb3b1" stroke-opacity="0.35" fill="none" d="M0 0.4L719.5 404.6" />
<g transform="matrix(-1, 0, 0, 1, 1229.25, 0)">
  <path stroke-linecap="round" stroke-width="0.472440958" stroke="#c5bbba" stroke-opacity="0.45" fill="none" d="M509.4 292.2L719.9 404.5" />
</g>
<g transform="matrix(-0, -1, 1, 0, 320.812439, 1017.81256)">
  <path fill="url(#lg_87aded_EE2e7ede_18477f_79_b0_f2a70)" d="M613.4 399.4L670.8 297.6 725.2 399.4z" />
</g>
<g transform="matrix(1, 0, 0, 1, 115.2, 355.125031)">
  <text font-family="Century Gothic" font-size="7.5pt" fill="#000000"><tspan x="392.1" y="9.781967" textLength="49.5">21.01.2015</tspan>
</text>
</g>
<g transform="matrix(1, 0, 0, 1, 55.2000122, 104.1)">
  <text font-family="Century Gothic" font-size="30pt" fill="#749cdc"><tref xlink:href="#tp_0" x="171.764191" y="-23.8454" fill="#000000" opacity="0.5" textLength="427.25"/><tref xlink:href="#tp_1" x="359.1392" y="24.1546" fill="#000000" opacity="0.5" textLength="239.875"/><tref xlink:href="#tp_2" x="287.8892" y="72.1546" fill="#000000" opacity="0.5" textLength="311.125"/></text>
  <text font-family="Century Gothic" font-size="30pt" fill="#749cdc"><tspan x="170.349976" y="-25.259613" textLength="427.25" id="tp_0">Tīmekļa servisa izveide</tspan>
<tspan x="597.6" y="-25.259613" textLength="11.125"> </tspan>
<tspan x="357.724976" y="22.740387" textLength="239.875" id="tp_1">prezentāciju</tspan>
<tspan x="597.6" y="22.740387" textLength="11.125"> </tspan>
<tspan x="286.474976" y="70.74039" textLength="311.125" id="tp_2">demonstrēšanai</tspan>
</text>
</g>
<g transform="matrix(1, 0, 0, 1, 49.2000122, 287.1)">
  <text font-family="Century Gothic" font-size="27.75pt" fill="#000000"><tspan x="0.6124878" y="34.08287" textLength="596.375">Network service development for</tspan>
<tspan x="596.9875" y="34.08287" textLength="10.25"> </tspan>
<tspan x="178.674988" y="69.6028748" textLength="240.25">presentations</tspan>
</text>
</g>
<text font-family="Arial" font-weight="bold" font-size="18pt" fill="#ffd8cf" opacity="0.75"><tref xlink:href="#tp_3" x="268.973541" y="163.129776" fill="#000000" opacity="0.38" textLength="183.75"/><tref xlink:href="#tp_4" x="6.348528" y="189.942276" fill="#000000" opacity="0.38" textLength="709"/><tref xlink:href="#tp_5" x="149.473526" y="216.754776" fill="#000000" opacity="0.38" textLength="422.75"/></text>
<text font-family="Arial" font-weight="bold" font-size="18pt" fill="#ffd8cf" opacity="0.75"><tspan x="268.125" y="162.28125" textLength="183.75" id="tp_3">Evaluation only.</tspan>
<tspan x="5.5" y="189.09375" textLength="709" id="tp_4">Created with Aspose.Slides for .NET 4.0 Client Profile 15.2.0.0.</tspan>
<tspan x="148.625" y="215.90625" textLength="422.75" id="tp_5">Copyright 2004-2015 Aspose Pty Ltd.</tspan>
</text>
</g>
</svg></div>
</body>
</html>