@{
    ViewBag.Title = "Index";
}

@section featured {
    <div class="jumbotron">
        <div class="container">
            <h1>@ViewBag.Title.</h1>
            <h2>@ViewBag.Message</h2>
            <p>
                To learn more about ASP.NET MVC visit
      <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
      The page features <mark>videos, tutorials, and samples</mark> to help you get the most from ASP.NET MVC.
      If you have any questions about ASP.NET MVC visit
            </p>
            <a class="btn btn-large btn-success" href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC Forum">our forums</a>.
        </div>
    </div>

    <div class="col-md-6">
        <div class="jumbotron">
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" pointer-events="none" viewbox="0 0 720 405" version="1.1">
  <defs>
    <lineargradient id="lg_4f0b00_LL6c1300_996056_90_0_32a000" x1="0" y1="0" x2="0" y2="405" spreadmethod="reflect" gradientunits="userSpaceOnUse">
      <stop offset="0" stop-color="#4f0b00"></stop>
      <stop offset="0.60001" stop-color="#6c1300"></stop>
      <stop offset="1" stop-color="#996056"></stop>
    </lineargradient>
    <lineargradient id="lg_19e7dec9_P00ae7dec9_03e7dec9_118_c2_56c149" x1="-492" y1="928" x2="-817" y2="1540" spreadmethod="reflect" gradientunits="userSpaceOnUse">
      <stop offset="0" stop-color="#e7dec9" stop-opacity="0.1"></stop>
      <stop offset="0.69499" stop-color="#e7dec9" stop-opacity="0.04"></stop>
      <stop offset="1" stop-color="#e7dec9" stop-opacity="0.01"></stop>
    </lineargradient>
    <lineargradient id="lg_87aded_EE2e7ede_18477f_79_b0_f2a70" x1="31" y1="163" x2="54" y2="282" spreadmethod="reflect" gradientunits="userSpaceOnUse">
      <stop offset="0" stop-color="#87aded"></stop>
      <stop offset="0.399999976" stop-color="#2e7ede"></stop>
      <stop offset="1" stop-color="#18477f"></stop>
    </lineargradient>
  </defs>
  <g text-rendering="geometricPrecision" pointer-events="painted" transform="scale(1,1)">
<rect x="0" y="0" width="720" height="405" fill="url(#lg_4f0b00_LL6c1300_996056_90_0_32a000)"></rect>
<path fill="url(#lg_19e7dec9_P00ae7dec9_03e7dec9_118_c2_56c149)" d="M0.5 404.6L0.5 0.9 719.5 404.6z"></path>
<path stroke-linecap="round" stroke-width="0.393700778" stroke="#beb3b1" stroke-opacity="0.35" fill="none" d="M0 0.4L719.5 404.6"></path>
<g transform="matrix(-1, 0, 0, 1, 1229.25, 0)">
  <path stroke-linecap="round" stroke-width="0.472440958" stroke="#c5bbba" stroke-opacity="0.45" fill="none" d="M509.4 292.2L719.9 404.5"></path>
</g>
<g transform="matrix(-0, -1, 1, 0, 320.812439, 1017.81256)">
  <path fill="url(#lg_87aded_EE2e7ede_18477f_79_b0_f2a70)" d="M613.4 399.4L670.8 297.6 725.2 399.4z"></path>
</g>
<g transform="matrix(1, 0, 0, 1, 115.2, 355.125031)">
  <text font-family="Century Gothic" font-size="7.5pt" fill="#000000"><tspan x="392.1" y="9.781967" textlength="49.5">21.01.2015</tspan>
</text>
</g>
<g transform="matrix(1, 0, 0, 1, 55.2000122, 104.1)">
  <text font-family="Century Gothic" font-size="30pt" fill="#749cdc"><tref xlink:href="#tp_0" x="171.764191" y="-23.8454" fill="#000000" opacity="0.5" textlength="427.25"></tref><tref xlink:href="#tp_1" x="359.1392" y="24.1546" fill="#000000" opacity="0.5" textlength="239.875"></tref><tref xlink:href="#tp_2" x="287.8892" y="72.1546" fill="#000000" opacity="0.5" textlength="311.125"></tref></text>
  <text font-family="Century Gothic" font-size="30pt" fill="#749cdc"><tspan x="170.349976" y="-25.259613" textlength="427.25" id="tp_0">Tīmekļa servisa izveide</tspan>
<tspan x="597.6" y="-25.259613" textlength="11.125"> </tspan>
<tspan x="357.724976" y="22.740387" textlength="239.875" id="tp_1">prezentāciju</tspan>
<tspan x="597.6" y="22.740387" textlength="11.125"> </tspan>
<tspan x="286.474976" y="70.74039" textlength="311.125" id="tp_2">demonstrēšanai</tspan>
</text>
</g>
<g transform="matrix(1, 0, 0, 1, 49.2000122, 287.1)">
  <text font-family="Century Gothic" font-size="27.75pt" fill="#000000"><tspan x="0.6124878" y="34.08287" textlength="596.375">Network service development for</tspan>
<tspan x="596.9875" y="34.08287" textlength="10.25"> </tspan>
<tspan x="178.674988" y="69.6028748" textlength="240.25">presentations</tspan>
</text>
</g>


</g></svg>
        </div>

    </div>
    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button>

}
<!-- Example row of columns -->
<div class="row">
    <div class="col-md-4">
        <h2>Getting Started</h2>
        ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
    enables a clean separation of concerns and that gives you full control over markup
    for enjoyable, agile development. ASP.NET MVC includes many features that enable
    fast, TDD-friendly development for creating sophisticated applications that use
    the latest web standards.
    <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=245151">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Add NuGet packages and jump-start your coding</h2>
        <p>NuGet makes it easy to install and update free libraries and tools.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=245153">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Find Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=245157">Learn more &raquo;</a></p>
    </div>
</div>
