@if (Request.IsAuthenticated) {
    <text>
        <span>
        Hello, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "as", title = "Manage" })!
            </span>
<span>
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        }
    </span>
    </text>
} else {
    <p class="navbar-text navbar-right">You can <span>@Html.ActionLink("Register", "Register", "Account")</span>
        or <span>@Html.ActionLink("Log in", "Login", "Account")</span>
    </p>
}
