@*<form id="uploader">
    <input id="fileInput" type="file" multiple>
    <input type="submit" value="Upload file" />
</form>*@
<link href="~/Content/StyleSheet1.css" rel="stylesheet" />
<div class="container-fluid">
    <section class="container">
        <div class="container-page">
            <form id="uploader">
                <div class="col-md-6">
                    <h3 class="dark-grey">Select file to upload</h3>

                    <div class="form-group col-lg-12 btn-file">
                        <input id="fileInput" class="form-control" type="file" multiple>
                    </div>

             @*       <div class="form-group col-lg-6">
                        <button  type="button" class="btn btn-primary ">Save changes</button>
                    </div>*@
              
                </div>

            </form>



        </div>
    </section>
</div>

<script type="text/javascript">


    document.getElementById('uploader').onsubmit = function () {
        var formdata = new FormData(); //FormData object
        var fileInput = document.getElementById('fileInput');
        //Iterating through each files selected in fileInput
        for (i = 0; i < fileInput.files.length; i++) {
            //Appending each file to FormData object
            formdata.append(fileInput.files[i].name, fileInput.files[i]);
        }
        //Creating an XMLHttpRequest and sending
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/Presentation/Upload');
        xhr.send(formdata);
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                alert(xhr.responseText);
            }
        }
        return false;
    }


</script>
